# Mission to Mars

In [1]:
import requests
import pymongo
import pandas as pd

   
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from selenium import webdriver

In [2]:
#create path 

executable_path = {'executable_path': '/Users/amybednarz/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [3]:
#url and beautiful soup 

mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)

html = browser.html
mars_news_soup= bs(html,'html.parser')

In [4]:
#find title and paragraph

mars_title = mars_news_soup.body.find_all("div", class_= "content_title")[1].text

mars_paragraph = mars_news_soup.body.find("div", class_= "article_teaser_body").text
print(mars_title)
print(mars_paragraph)

NASA's Perseverance Rover Cameras Capture Mars Like Never Before
Scientists tap into an array of imagers aboard the six-wheeled explorer to get a big picture of the Red Planet.

# JPL Mars Space Images - Featured Image

In [5]:
#featured image

mars_image_url = "https://spaceimages-mars.com/"

browser.visit(mars_image_url)

In [6]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [7]:
html = browser.html
mars_image_soup= bs(html,'html.parser')

In [16]:
mars_image_url = mars_image_soup.body.find("img", class_= "fancybox-image")
mars_image_url['src']

'image/featured/mars3.jpg'

# Mars Facts

In [13]:
# mars facts

mars_facts_url = "https://galaxyfacts-mars.com/"
browser.visit(mars_facts_url)
html= browser.html

In [14]:
#mars table

mars_table =  pd.read_html(html)
mars_table_df = mars_table[1]

mars_table_df.columns = ['Describe', 'Values']
mars_table_df

               Describe                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
#save dataframe to html
mars_table_df.to_html('mars_facts.html', index=False)

# Mars Hemisphere

In [17]:
# Mars hemispheres

mars_hemisphere_url = "https://marshemispheres.com/"
browser.visit(mars_hemisphere_url)
html = browser.html

mars_hemisphere_url= bs(html,'html.parser')

In [ ]:
mars_hemisphere_url=[]
hemispere=

In [ ]:
images = mars_hemisphere_url.soup.find_all("div", class_= "item")[1].text

mars_paragraph = mars_news_soup.body.find("div", class_= "article_teaser_body").text
print(mars_title)
print(mars_paragraph)

# Valles Marineris Hemisphere

In [17]:
#https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg

# Cerberus Hemisphere

In [18]:
#https://marshemispheres.com/images/full.jpg

# Schiaparelli Hemisphere

In [19]:
#https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg

# Syrtis Major Hemisphere

In [20]:
#https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg

In [21]:
# Mars Dictionary 
mars_hemisphere_dict = [

[{'title': 'Valles Marineris Hemisphere',
  'img_url_vm': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'},
 {'title': 'Cerberus Hemisphere',
  'img_url_ch': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url_sh': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url-smh': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}]