# Mission to Mars

In [10]:
import requests
import pymongo
import pandas as pd

   
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from selenium import webdriver

In [11]:
executable_path = {'executable_path': '/Users/amybednarz/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [12]:
#url and beautiful soup 

mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)

html = browser.html
mars_news_soup= bs(html,'html.parser')

In [20]:
#find title and paragraph

mars_title = mars_news_soup.body.find("div", class_= "content_title")
mars_paragraph = mars_news_soup.body.find("div", class_= "article_teaser_body")
print(mars_title)
print(mars_paragraph)

<div class="content_title">Mars Now</div>
<div class="article_teaser_body">The rotorcraft captures nuances of rocky outcrop during aerial reconnaissance.
</div>

# JPL Mars Space Images - Featured Image

In [24]:
mars_image_url = "https://spaceimages-mars.com/"
browser.visit(mars_image_url)

# Mars Facts

In [25]:
mars_facts_url = "https://galaxyfacts-mars.com/"

In [27]:
mars_table =  pd.read_html(mars_facts_url)
mars_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [38]:
mars_table_df = mars_table[1]

mars_table_df.columns = ['Describe', 'Values']
mars_table_df

               Describe                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [41]:
mars_table_html = mars_table_df.to_html()
print(mars_table_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Describe</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemisphere

In [44]:
mars_hemisphere_url = "https://marshemispheres.com/"
browser.visit(mars_hemisphere_url)

# Valles Marineris Hemisphere

In [45]:
#https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg

# Cerberus Hemisphere

In [46]:
#https://marshemispheres.com/images/full.jpg

# Schiaparelli Hemisphere

In [47]:
#https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg

# Syrtis Major Hemisphere

In [48]:
#https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg

In [43]:
# Example:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://marshemispheres.com/images/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg"},
]