# Mission to Mars

In [98]:
import requests
import pymongo
import pandas as pd

   
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from selenium import webdriver

In [99]:
#create path 

executable_path = {'executable_path': '/Users/amybednarz/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [100]:
#url and beautiful soup 

mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)

html = browser.html
mars_news_soup= bs(html,'html.parser')

In [101]:
#find title and paragraph

mars_title = mars_news_soup.body.find_all("div", class_= "content_title")[1].text

mars_paragraph = mars_news_soup.body.find("div", class_= "article_teaser_body").text
print(mars_title)
print(mars_paragraph)

NASA's Perseverance Rover Cameras Capture Mars Like Never Before
Scientists tap into an array of imagers aboard the six-wheeled explorer to get a big picture of the Red Planet.

# JPL Mars Space Images - Featured Image

In [102]:
#featured image

mars_image_url = "https://spaceimages-mars.com/"

browser.visit(mars_image_url)

In [103]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [104]:
html = browser.html
mars_image_soup= bs(html,'html.parser')

In [105]:
mars_image_url = mars_image_soup.body.find("img", class_= "fancybox-image")
mars_image_url['src']

'image/featured/mars2.jpg'

# Mars Facts

In [106]:
# mars facts

mars_facts_url = "https://galaxyfacts-mars.com/"
browser.visit(mars_facts_url)
html= browser.html

In [107]:
#mars table

mars_table =  pd.read_html(html)
mars_table_df = mars_table[1]

mars_table_df.columns = ['Describe', 'Values']
mars_table_df

               Describe                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [108]:
#save dataframe to html
facts_table=mars_table_df.to_html('mars_facts.html',index=False)

# Mars Hemisphere

In [109]:
#Mars Website for image scrape

main_url = 'https://marshemispheres.com/'
browser.visit(main_url)
time.sleep(5)

html = browser.html
soup = bs(html,'html.parser')

In [112]:
#Mars Hemisphere images for hemispheres
hemis_image = soup.find('div', class_='item')
                        
# Mars hemispheres dictionary 
mars_hemisphere_image=[]

TypeError: find() takes no keyword arguments

In [27]:
mars_hemisphere_url

'https://marshemispheres.com/'

# Valles Marineris Hemisphere

In [ ]:
#https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

# Cerberus Hemisphere

In [ ]:
#https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

# Schiaparelli Hemisphere

In [ ]:
#https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

# Syrtis Major Hemisphere

In [ ]:
#https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

In [ ]:
# Mars Dictionary 
mars_hemisphere_dict = [